###  1- Hello World

Write a program that prints "Hello World". Don't use the notebook:
* Use an editor such as idle 
* create a file called hello.py
* write the necessary code inside
* save the file
* run the file from the command line: python hello.py
* watch ecstatically

Your program should read:
```
print("Hello World")
```

### 2 - Proof of residence

Modify your program so that it prints your name and address as you would on an envelope

In [ ]:
print("Ethan Ole")
print("Queen Mary, University of London")
print("Mile End Road")
print("London E1 4NS")

### 3 - Bugger off

Write a program that asks for your name and insults you.

In [ ]:
name=input("What's your name, stranger? ")
print("Look at "+ name + " here")
print("I bet (s)he can't tell an HP48 calculator from a VT100 terminal")

### 4 - Star Trek

Write a program that asks you for a speed in km/h and converts it to furlongs/fortnight (ask Google for help with the conversion factor). Use it to convert the speed of light to furlongs/fortnight.

In [ ]:
conv_fact=1670.25
str_speed=input("Speed in km/h? ")
speed=float(str_speed)*conv_fact
print(str_speed+" km/h is " + str(speed) + " furlongs/fortnight")

### 5 - The real deal

Write a program that asks for the length and width of your average studio shoebox in meters. Multiply the area by 19500 to obtain its price in Kensington, in pounds. Store in a variable and print the result including units. 

Multiply the average UK salary of Â£26500 by 0.75 to deduce taxes. Divide the price by the net salary to obtain the number of man-years it takes the average bloke to pay for the average shoebox.  

Print all results including units. Use meaningful variable names for all the parameters (salary, cost per square meters). Include comments.

In [ ]:
unit_cost=19500 # cost of a square meter
avg_salary=26500 # avg UK salary
net_ratio=0.75 # after taxes

str_length=input("Length of room? (m) ")
str_width=input("Width of room? (m) ")
length=float(str_length)
width=float(str_width)

# estimated price and salary multiplier
price=width*length*unit_cost
net_salary=avg_salary*0.75
years=price/net_salary

print("Estimated price (in GBP): ", price)
print("Number of salary years: ", years)

### 6 - Happy birthday

Now for something a bit more cheerful: write a program that asks you for your age and prints "Happy Birthday" once for each year. Use the * operator on a string to do that.

In [ ]:
age=input("How young are you? ")
# \n stands for a newline character
print("Happy Birthday!\n" * int(age))

### 7 - Operator madness

Look up Python operators here:
http://www.tutorialspoint.com/python/python_basic_operators.htm

Try out all Arithmetic, Comparison, and Assignment operators in the box below. Feel free to define variables, create more boxes, write down notes and ask questions. Remember to save this notebook when you are done.

### 8 - Tea for You

Write a program that replaces 'U' with 'T' in RNA sequences, making sure that it works whether the string is uppercase or lowercase and always outputs an uppercase string. Hint: to obtain help on, for instance, the *str.replace()* method type *help(str.replace)* in the box below. Typing *dir(str)* will list all methods.

In [ ]:
rna="auccguuac"
rna=rna.upper()
rna=rna.replace('U','T')
print (rna)

### 9 - With complements

This is stretching it a bit, but there is a way to use *str.replace()* to transform a DNA sequence into its complement. Can you do that? Write a program that asks you for a sequence and outputs the complement.

In [ ]:
seq=input("Give me a sequence? ")
seq=seq.upper() # make sure we do not have lowercase letters
# use lowercase to make sure the same letter won't
# be converted twice
seq=seq.replace('A','t')
seq=seq.replace('T','a')
seq=seq.replace('C','g')
seq=seq.replace('G','c')
# back to uppercase
seq=seq.upper()
print(seq)